@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&display=swap');

$first-color: #FFFFFF;
$second-color: #00498A;
$third-color: #F0F0F0;
$fourth-color: #00BFFF;
$shadow: #01040434;
$lightness: #fffa96;

html,
* {
    padding: 0;
    margin: 0;

    font-family: 'Rubik', sans-serif;
    font-size: 14px;

    scroll-behavior: smooth;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: $second-color;
    cursor: pointer;
}

p {
    cursor: default;
}

li {
    list-style: none;
}

.app {
    min-height: 160vh;

    background-color: white;
    color: $first-color;

    overflow-x: hidden;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    // animation: horizontal-movement 15s infinite;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        width: calc(30% - 4rem);
        padding: 2rem;
        background-color: $third-color;
        color: $second-color;
        filter: drop-shadow(0 0 20px $shadow);

        h3 {
            font-weight: bold;
            margin-bottom: .5rem;
            font-size: 1.75rem;
        }

        hr {
            margin-bottom: 1rem;
            width: 100%;

        }

        img {
            width: 60%;
            margin-bottom: 1rem;
            border-radius: 10px;
        }

        p {
            text-align: center;
        }
    }
}

// Shared animations

.pulse {
    font-weight: 600;
    animation: pulse 2s infinite;
}


@keyframes pulse {
    0% {
        opacity: 0.85;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.85;
    }
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

@keyframes horizontal-movement {
    0% {
        padding-left: 1rem;
    }

    25% {
        padding: 0;
    }

    50% {
        padding-right: 1rem;
    }

    75% {
        padding: 0;
    }

    100% {
        padding-left: 1rem;
    }
}