@import "../../App.scss";

.approach {
  padding: 14rem 2rem 2rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 8rem);
  height: calc(100vh - 16rem);
  background-color: $third-color;

  h2 {
    color: $second-color;
    filter: drop-shadow(2px 2px 0 $fourth-color);
  }

  .data-approach {
    color: $second-color;
    text-align: start;

    p {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

@media (min-width: 768px) {
  .approach {
    padding: 10rem 2rem 2rem 6rem;
    width: calc(100% - 8rem);
    height: calc(100vh - 12rem);
  }
}