@import '../../App.scss';

.navbar {
  .web {
    display: none;
    height: 60px;
  }

  .mobile {
    position: fixed;
    width: calc(100% - 4rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 2rem;
    background-color: $second-color;

    .close {
      position: absolute;
      right: -4rem;
      width: 2rem;
      transition: all ease 1s;
    }

    .open {
      position: absolute;
      right: -4rem;
      width: 2rem;
      transition: all ease 1s;
    }

    .open.enable {
      right: 2rem;
      transition: all ease 1s;
    }

    .close.enable {
      right: 2rem;
      transition: all ease 1s;
    }

    .mobile-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: calc(-30vw - 4rem);
      top: 60px;
      width: 30vw;
      height: auto;
      padding: 1rem 2rem 2rem 2rem;
      border-radius: 0 0 0 10px;
      background-color: $second-color;
      transition: all ease 1s;

      button {
        align-self: end;
        margin-bottom: 2rem;
        background-color: transparent;
        border: none;
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        li {
          align-self: flex-end;
          margin-top: 1rem;
        }

        li:first-child {
          margin: 0;
        }
      }
    }

    .mobile-menu.enable {
      right: -1px;
      transition: all ease 1s;
    }
  }
}

.navbar.fixed {
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    .mobile {
      display: none;
    }

    .web {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 6rem 0 2rem;
      background-color: $second-color;
      width: calc(100% - 8rem);

      ul {
        display: flex;
        color: $first-color;

        li {
          margin-left: 2rem;
          cursor: pointer;
        }

        li:first-child {
          margin: 0;
        }
      }
    }
  }

  .navbar.fixed {
    display: block;

    .web {
      animation: appear 1s;
      position: fixed;
      top: 0;
      left: 0;
      background-color: $first-color;

      ul {
        color: $second-color;
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}